@font-face {

 font-family: 'din';
    src: url("https://www.nanopips.com/css/DIN-Light-Regular.otf") format("opentype");
}


/*------------------------------------------------------------------------------*/
/*                   main nav
/*------------------------------------------------------------------------------*/

 .navbar{
	background:white;
	display:block;
	border: 0;
	height:70px;
	font-weight: bold;
	font-family: 'din';
}

 .containersignup{
 width:100%;
 height:100%;

 }
 

.logo{
    margin-top:20px;
	max-width: 100%;
height: auto !important;
    
}
 ul.nav.navbar-nav li a{
         margin-top:20px;
font-size:18px;
  	color: #4d4d4d;
  	font-family: 'din';
}

 ul.nav.navbar-nav li a button{ 
     margin-top:20px;
 }
 ul.nav.navbar-nav:focus , ul.nav.navbar-nav:visited,  ul.nav.navbar-nav :active,  ul.nav.navbar-nav :link{
  background-color: transparent ;
  font-size:20px;
  	color: #4d4d4d;
}
 .navbar-default .navbar-nav > .active{
    color:#0ab774;
   
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #0ab774;
 }
 
 
 .navbar-nav > li{
 
  margin-right:10px;
  letter-spacing:2px;
}

.modal-header, .modal-body,.modal-footer{
	border:transparent;
	background: #fff;
}
.modal-body{
	padding: 0 50px;
}

.modal-body a p {
	color:#4d4d4d;
}
.pull-center{
	text-align: center;
}
#myModal .modal-body h1{
	padding-top: 40px;
	text-align: center;
	color:#0ab774;
	font-size:50px;
	font-weight: bold;

}
#myModal .modal-body p{
	text-align: center;
	padding-top:40px;
	font-weight: bold;

}
#myModal .modal-body form{
	width: 60%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 80px;

}
.modal-body a p span{
font-size: 12px;
}
.modal-body a p i, .modal-footer a{
color:#0ab774;
}



.btn-mine { 
    font-family: 'din';
	padding: 11px 30px;
	font-size:16px;
	color: #0ab774;
	 border: #0ab774 1px solid;
	 background-color: #fff;
	 margin-top:20px;
	


    
}

 .btn-mine1{
	padding: 11px 30px;
	font-size:16px;
	color: #fff;
	background: #0ab774;
  
}

.logform{
    width:70%;
}


.login-input{
  
  height: 7%;
  font-size:20px;
  padding: 10px;
  margin-bottom: auto;
  width: auto;
  border-radius: 0;
}
 .container-login{
  max-width: 700px;
}

   .login-container {
    min-height:450px;
    
 }

@media (min-width: 768px) and (max-width: 991px) {
     .login-container {
    min-height:240px;
    
 }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
   .login-container {
    min-height:220px;
    
 }
 .submitform{
    width:330px!important;
}
}

@media only screen and (min-width: 321px) and (max-width: 479px) {
    
    .popform{
     margin-left:-40px;
    margin-right:-40px;
      padding-left:-40px;
    padding-right:-40px;
}
.submitform{
    width:330px!important;
}
.submitform .btn-mine1{
   padding-left: 5px;
   padding-right: 5px;
    margin-left:5px;
    margin-right:5px;
    font-size:15px;
}

    
    .login-header-text{
 margin-left:-15px;
}


 .containersignup{
 width:100%;
 height:100%;

 }
 
.logo{
  
    margin-left:-13px;
  
 }
 .login-container {
    min-height:200px;
    
 }

 .logform{
    width:100%;
}
}

@media only screen and (min-width: 0) and (max-width: 320px) {
.login-line{
display:none;}

 .login-container {
    min-height:200px;
    
 }
 
 
 .containersignup{
 width:80%;
 height:80%;

 }
.widchange{
width:80%;}

.logo{
  
    margin-left:-15px;

}

 .logform{
    width:100%;
}

}